<!doctype html>
<html ng-app = "app">
<head>
	<meta charset="UTF-8">
	<title></title>
	<link rel="stylesheet" href="css/normalize.css">
	<link rel="stylesheet" href="css/foundation.min.css">
	<link rel="stylesheet" href="css/trello.css">
	<link rel="stylesheet" href="css/style.css">
</head>
<body ng-cloak>
	<div class="b-container" ng-if='!isAddNew'>
		<header>
			<div class = 'header'>
			<h1 class = 'app-name-left'>Angular Task</h1>
			</div>
		</header>
	
		<section ng-controller="tablesCtrl">
			<!--<div ng-if='!isAddNew'>-->
			<input popUp-dialog type="button" name="addUSersBtn" ng-click="addUser()"value="Add new user" >
					<table id="sTable" class="tablesorter" >
						<thead>
							<tr id="head">
								<th>Name</td>
								<th>Family</td>
								<th>Age</td>s
								<th>Email</td>
								<th>Registration Date</td>
								<th>Operations</td>
							</tr>
						</thead>
						<tbody>
							<tr  ng-repeat = "row in lists">
								<td>{{row.Name}} </td>
								<td> {{row.Family}}</td>
								<td>{{row.Age}}</td>
								<td>{{row.Email}}</td>
								<td>2016/02/03</td>
								<td>
									<img src="img/pen_alt_fill.svg" ng-click='updateUser(row)'> <img src="img/x_sm.svg" ng-click='deleteRow(row)'>
								</td>
								
							</tr>
						</tbody>
					</table>
			<!--	</div> -->		 
				<div id="addser" ng-if='isAddNew' >
					<div class="b-popup">
						<div class="b-popup-content">
							<input type="button" name="submitBtn"  ng-click="submitNewUser()" ng-if='!isEditingRow' value="Submitnew user">
							<input type="button" name="editBtn"   ng-if='isEditingRow'  ng-click="editRow()" value="Edit user data">
							<table >
								<tr>
									<td><b>Family name:<b></td>
									<td><input SIZE=20 VALUE="" ng-model="userDate.Family" >
								</tr>
								<tr><td><b>Name:<b></td>
									<td><input  SIZE=20 VALUE="" ng-model="userDate.Name">
								<tr><td><b>Age:<b></td>
									<td><input  SIZE="20" VALUE="18" ng-model="userDate.Age">
								<tr><td><b>Email:<b></td>
									<td><input SIZE=10 VALUE="" ng-model="userDate.Email"></td></tr>
							</table>
						</div>
					</div>

				</div>
		</section>
	</div>	
</body>

<script type="text/ng-template" id="tpl-name">
							This is a dialog content.
</script>
	<script src="http://cdnjs.cloudflare.com/ajax/libs/angular.js/1.4.2/angular.min.js"></script>
	<script src="https://cdnjs.cloudflare.com/ajax/libs/lodash.js/2.4.1/lodash.js"></script>
	<script src ="js/main.js"> </script>
	<script src= "js/idialog.js"></script>
	
	<script src ="js/controllers/TablesCtrl.js"> </script>
	
	
	<script src ="js/factories/tableFactory.js"> </script>
	
	<script src ="js/directives/popUpDialog.js"> </script>
	
	<script src="js/idialog.js"></script>
	
	
</html>